.workChild {
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 1.25rem;
  transition: 0.3s ease-in-out;
}
.workChild:hover {
  color: #667eea;
}
.workChild.active {
  color: #334eca;
}
.works {
  margin-bottom: 1.5rem;
  width: 100%;
}
.worksleft,
.worksbet,
.worksright {
  transition: 0.72s ease-in-out;
}
.worksleft {
  width: 0%;
}
.worksright {
  width: 34%;
  margin-left: 34%;
}
.worksbet {
  width: 34%;
}
.worksleft.active {
  width: 34%;
}
.worksbet.active {
  margin-left: 34%;
}
.worksright.active {
  margin-left: 66%;
}
