<div class="itemCenter">
  <!-- 我們在做什麼 -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">What We Do</h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">使用簡單的聲明性模板快速構建功能。 使用您自己的組件擴展模板語言，並使用各種各樣的現有組件。
          幾乎所有的IDE和編輯器都可立即獲得特定於Angular的幫助和反饋。 所有這些結合在一起，因此您可以專注於構建出色的應用程序，而不是試圖使代碼正常工作。</p>
      </div>
      <div class="flex flex-wrap -m-4">

        <div *ngFor="let even of data[0]; let i = index;" class="xl:w-1/3 md:w-1/2 p-4" [id]="'Scroll_Do_' + i"
          [class]="scrollItem('Do', i)" [class.active]="Scroll_Effect('Do', i)">
          <div class="border border-gray-200 p-6 rounded-lg">
            <div
              class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
              <i [class]="even.style"></i>
            </div>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">{{even.title}}</h2>
            <p class="leading-relaxed text-base">{{even.content}}</p>
          </div>
        </div>

      </div>

      <div id="Ser_Two"></div>

    </div>
  </section>

  <!-- 技能 -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="h-1 bg-gray-200 rounded overflow-hidden">
          <div class="w-24 h-full bg-indigo-500 worksleft" [class.active]="Scroll_skill?.titleLine[0]"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12" id="worksleft">
          <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">
            技能與分工</h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">
            我們的日常任務：查找並展示最佳網絡設計靈感和趨勢。
            每天，我們都會發布由來自世界各地的創意機構和網頁設計師。</p>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 skill-chart">

        <div class="p-4 sm:mb-0 mb-6 leftItem" id="Scroll_skill_left">

          <div *ngFor="let even of data[1]?.left; let i = index;" class="Scroll_skill_left candidatos"
            [class.active]="Scroll_skill?.left[i] !== 0">
            <div class="parcial">
              <div class="info">
                <div class="nome">{{even.title}}</div>
                <div class="percentage-num">{{even.percentage}}%</div>
              </div>
              <div class="progressBar">
                <div class="percentagem" [style.width.%]="Scroll_skill.left[i]"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="p-4 sm:mb-0 mb-6 rightItem" id="Scroll_skill_right" [class.active]="Scroll_skill.right">

          <ul class="mh-professional-progress scroll-ro-r circleProgress">

            <li *ngFor="let even of data[1]?.right; let i = index;">
              <div [id]="'circle_' + i" class="mh-progress mh-progress-circle">
                <span class="circle-parent">{{even.percentage}}%</span>
              </div>
              <div class="pr-skill-name">{{even.title}}</div>
            </li>

          </ul>

        </div>

      </div>
      <div id="Ser_Three"></div>

    </div>
  </section>

  <!-- 作品 -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="h-1 bg-gray-200 rounded overflow-hidden works">
        <div class="w-24 h-full bg-indigo-500 worksbet" [class.active]="Scroll_skill?.titleLine[1]"></div>
      </div>
      <div class="flex w-full mb-20 flex-wrap" id="worksbet">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">近期作品</h1>
        <div class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base serviceWork">
          <nav style="text-align: center;">
            <a *ngFor="let even of filterWorks" class="workChild" (click)='filterWork(even)'>{{even}}</a>
          </nav>
        </div>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1 workTitle">

        <ng-container *ngFor="let even of data[2]">
          <div class="lg:w-1/3 sm:w-1/2 p-4 serviceItem" *ngIf="finalWork.indexOf(even.type) !== -1">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" [src]="even.image">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">{{even.type}}</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{even.title}}</h1>
                <p class="leading-relaxed">{{even.content}}</p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
      <div id="Ser_Four"></div>

    </div>
  </section>

  <!-- 價格 -->
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="h-1 bg-gray-200 rounded overflow-hidden works">
        <div class="w-24 h-full bg-indigo-500 worksright" [class.active]="Scroll_skill?.titleLine[2]"></div>
      </div>
      <div class="flex flex-col text-center w-full mb-20" id="worksright">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">方案</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">使用簡單的聲明性模板快速構建功能。
          使用您自己的組件擴展模板語言，並使用各種各樣的現有組件。 幾乎所有的IDE和編輯器都可立即獲得特定於Angular的幫助和反饋。 所有這些結合在一起，因此您可以專注於構建出色的應用程序，而不是試圖使代碼正常工作。</p>
        <div class="flex mx-auto border-2 border-indigo-500 rounded overflow-hidden mt-6">
          <button [ngClass]="{'bg-indigo-500 text-white': !Choice}" class="py-1 px-4 focus:outline-none"
            (click)='Price()'>月繳</button>
          <button [ngClass]="{'bg-indigo-500 text-white': Choice}" class="py-1 px-4 focus:outline-none"
            (click)='Price()'>年繳</button>
        </div>
      </div>

      <!-- 月 -->
      <div class="flex flex-wrap -m-4" *ngIf="!Choice">

        <ng-container *ngFor="let even of data[3]?.month; let i = index;">

          <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="i !== 1">
            <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">{{even.title}}</h2>
              <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none">
                <span><span *ngIf="even.price !== 'Free'">$</span>{{even.price}}</span>
                <!-- <span *ngIf="even.price !== 'Free'" class="text-lg ml-1 font-normal text-gray-500">/TWD</span> -->
              </h1>
              <p *ngFor="let arr of even.content" class="flex items-center text-gray-600 mb-2">
                <span
                  class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>{{arr}}
              </p>
              <button
                class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">買了啦
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">可以花錢解決的事，千萬不要慢慢看</p>
            </div>
          </div>

          <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="i == 1">
            <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden">
              <span
                class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">最優惠</span>
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">{{even.title}}</h2>
              <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                <span><span *ngIf="even.price !== 'Free'">$</span>{{even.price}}</span>
                <!-- <span *ngIf="even.price !== 'Free'" class="text-lg ml-1 font-normal text-gray-500">/TWD</span> -->
              </h1>
              <p *ngFor="let arr of even.content" class="flex items-center text-gray-600 mb-2">
                <span
                  class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>{{arr}}
              </p>
              <button
                class="flex items-center mt-auto text-white bg-indigo-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-indigo-600 rounded">買了啦
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">不買會對不起國家</p>
            </div>
          </div>

        </ng-container>

      </div>

      <!-- 年 -->
      <div class="flex flex-wrap -m-4" *ngIf="Choice">

        <ng-container *ngFor="let even of data[3]?.year; let i = index;">

          <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="i !== 1">
            <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">{{even.title}}</h2>
              <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none">
                <span><span *ngIf="even.price !== 'Free'">$</span>{{even.price}}</span>
                <!-- <span *ngIf="even.price !== 'Free'" class="text-lg ml-1 font-normal text-gray-500">/TWD</span> -->
              </h1>
              <p *ngFor="let arr of even.content" class="flex items-center text-gray-600 mb-2">
                <span
                  class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>{{arr}}
              </p>
              <button
                class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">買了啦
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">可以花錢解決的事，千萬不要慢慢看</p>
            </div>
          </div>

          <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="i == 1">
            <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden">
              <span
                class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">最優惠</span>
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">{{even.title}}</h2>
              <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                <span><span *ngIf="even.price !== 'Free'">$</span>{{even.price}}</span>
                <!-- <span *ngIf="even.price !== 'Free'" class="text-lg ml-1 font-normal text-gray-500">/TWD</span> -->
              </h1>
              <p *ngFor="let arr of even.content" class="flex items-center text-gray-600 mb-2">
                <span
                  class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>{{arr}}
              </p>
              <button
                class="flex items-center mt-auto text-white bg-indigo-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-indigo-600 rounded">買了啦
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">不買會對不起國家</p>
            </div>
          </div>

        </ng-container>

      </div>

    </div>
  </section>
</div>