.py-24 {
  padding: 49px 4.9rem;
}
.p-5 {
  padding: 13px 1.25rem;
}
h2.tracking-widest a {
  font-weight: bold;
  font-size: 1rem;
}
.progress-container {
  width: 100%;
  height: 5px;
}

.progress-bar {
  height: 5px;
  background: linear-gradient(to right, #adcee9, #4299e1);
  width: 0%;
  border-radius: 5px;
}
.text-gray-400 {
  cursor: pointer;
}
