.flex-wrap {
  justify-content: center;
  align-items: center;
}
.right {
  position: fixed;
  right: 0;
  top: 27%;
  height: 100%;
  width: 20%;
  padding-left: 49px;
}
.left {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;
}
.aboutText {
  font-size: 1.86rem;
  width: 200px;
  position: relative;
  left: 50%;
  margin: 31px 0 -49px -100px;
  color: #000;
  font-weight: 400;
}
.aboutUL li {
  margin: 7px 0;
  border-bottom: #fff solid 1px;
  width: 68px;
}

.aboutUL li:hover {
  border-bottom: #000 solid 1px;
}
.bg-gray-200 {
  background-color: #ccc;
}
