<section [class.active]="changeSign">
  <a class="loginbtn" [routerLink]="['/Valleys_Awesome']">
    <i class="fad fa-reply-all" [class.active]="changeSign"></i>
  </a>
  <div [class.active]="changeSign" class="container">

    <div class="user signinBx">
      <div class="imgBx"><img src="assets/image/lock.jpg" alt=""></div>
      <div class="formBx">
        <div>
          <h2>{{"登入" | Translation: infor.Language}}</h2>
          <input type="text" [(ngModel)]="username" [placeholder]="transLate('帳號')" name="username"
            (keyup.enter)='Login("login")'>
          <input type="password" [(ngModel)]="password" [placeholder]="transLate('密碼')" name="password"
            (keyup.enter)='Login("login")'>
          <input type="submit" [value]="transLate('登入')" (click)='Login("login")'>
          <p class="signup">{{"還沒有帳號" | Translation: infor.Language}}? <a class="loginSign"
              (click)='toggleForm()'>{{"註冊" | Translation: infor.Language}}</a></p>
        </div>
      </div>
    </div>

    <div class="user signupBx">
      <div class="formBx">
        <div>
          <h2>{{"註冊" | Translation: infor.Language}}</h2>
          <input type="text" [placeholder]="transLate('帳號')" [(ngModel)]="signname" name="signname"
            (keyup.enter)='Login("signup")'>
          <input type="text" [placeholder]="transLate('信箱')" [(ngModel)]="email" name="email"
            (keyup.enter)='Login("signup")'>
          <input type="password" [placeholder]="transLate('密碼')" [(ngModel)]="signpass" name="signpass"
            (keyup.enter)='Login("signup")'>
          <input type="password" [placeholder]="transLate('再次確認')" [(ngModel)]="signpass_2" name="signpass_2"
            (keyup.enter)='Login("signup")'>
          <input type="submit" [value]="transLate('註冊')" (click)='Login("signup")'>
          <p class="signup">{{"已經有帳號了" | Translation: infor.Language}}? <a class="loginSign"
              (click)='toggleForm()'>{{"登入" | Translation: infor.Language}}</a></p>
        </div>
      </div>
      <div class="imgBx"><img src="assets/image/unlock.jpg" alt=""></div>
    </div>

  </div>
</section>