<div class="loginHeader" [class.active]="Menu">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0 consoleImg">
        <img class="nains" src="assets/image/Webcenter.png" alt="">
        <p [class.active]="Menu" class="ml-3 text-xl ch-name consoleImgText">維安科技<br><span
                class="ml-3 text-xl us-name">Valleys
                Awesome</span></p>
    </a>
    <i class="fad fa-bars fa-2x consoleMenu" (click)='menuEffect()'></i>
    <ul class="consoleLeft">
        <li (click)='childRoute("loginAbout")'>
            <i [class.active]="Menu" class="far fa-address-card consoleBtn"></i>
            <span [class.active]="Menu" class="consoleText">關於我們</span>
        </li>
        <li (click)='childRoute("loginMessage")'>
            <i [class.active]="Menu" class="far fa-file consoleBtn"></i>
            <span [class.active]="Menu" class="consoleText">最新消息</span>
        </li>
        <li (click)='childRoute("loginService")'>
            <i [class.active]="Menu" class="fas fa-concierge-bell consoleBtn"></i>
            <span [class.active]="Menu" class="consoleText">服務內容</span>
        </li>
        <li (click)='childRoute("loginContact")'>
            <i [class.active]="Menu" class="far fa-comments consoleBtn"></i>
            <span [class.active]="Menu" class="consoleText">聯絡我們</span>
        </li>
    </ul>
    <i class="fad fa-sign-out-alt fa-2x consoleMenu" (click)='logout()'></i>
</div>
<div class="logintitle" [class.active]="!Menu"><span class="logintitle-left">登陸時間 : {{time | date:'medium'}}</span><span
        class="logintitle-right">用戶名 : {{User}}</span></div>
<div class="routerPage" [class.active]="!Menu">
    <div class="routerPageOutside">
        <router-outlet></router-outlet>
    </div>
</div>