<img src="assets/image/Webcenter.png" class="nains" alt="">
<section class="page-wrapper">

    <div class="slider">

        <ul class="slider-list">

            <li *ngFor="let even of data; let i = index" [class.slider-list__item_active]="slider(i, 'need')"
                [class.slider-list_item_display]="slider(i, 'not')" class="slider-list__item">
                <span [class.move]="slider(i, 'need')" class="back__element"><img [src]="even.big_p"></span>
                <span [class.move]="slider(i, 'need')" class="main__element"><img [src]="even.small_p"></span>
                <span [class.move]="slider(i, 'need')" class="front__element"><img [src]="even.main_p"></span>
                <span [class.move]="slider(i, 'need')" class="title__element">
                    <span class="title">{{even.text}}</span>
                </span>
                <span [class.move]="slider(i, 'need')" class="more__element">
                    <span class="content">
                        <span class="headline">{{even.title}}</span>
                        <span class="excerpt">{{even.content}}</span>
                        <span class="link">
                            <div [class]="even.readStyle"></div>
                            <a>Read More</a>
                        </span>
                    </span>
                </span>
            </li>

        </ul>

        <div class="slider__controls">
            <a class="slider__arrow slider__arrow_prev" (click)='changePage(0, -1)'></a>
            <a class="slider__arrow slider__arrow_next" (click)='changePage(1, 1)'></a>
        </div>

    </div>

</section>