<!-- banner -->
<section class="page-wrapper" (mouseover)="openArrow()" (mouseout)="closeArrow()">

    <div class="slider">

        <ul class="slider-list">

            <li *ngFor="let even of data; let i = index" [class.slider-list__item_active]="sliderPage[i]"
                class="slider-list__item">
                <span class="back__element"><img [src]="even.big_p"></span>
                <span class="main__element"><img [src]="even.small_p"></span>
                <span class="front__element"><img [src]="even.main_p"></span>
                <span class="title__element">
                    <span class="title">{{even.text | Translation: infor.lang}}</span>
                </span>
                <span class="more__element">
                    <span class="content">
                        <span class="headline">{{even.title | Translation: infor.lang}}</span>
                        <span class="excerpt">{{even.content | Translation: infor.lang | slice: 0:31}} ...</span>
                        <span class="link">
                            <div [class]="even.readStyle"></div>
                            <a (click)='openPopup(even)'>{{"更多" | Translation: infor.lang}}</a>
                        </span>
                    </span>
                </span>
            </li>

        </ul>

        <div class="slider__controls">
            <a [class.active]="arrow" class="slider__arrow slider__arrow_prev" (click)='changePage(0, -1)'></a>
            <a [class.active]="arrow" class="slider__arrow slider__arrow_next" (click)='changePage(1, 1)'></a>
        </div>

    </div>

</section>


<!-- Statistic -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
                {{"為何選擇我們" | Translation: infor.lang}}</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                {{"我們的日常任務：查找並展示最佳網絡設計靈感和趨勢。 每天，我們都會發布由來自世界各地的創意機構和網頁設計師。" | Translation: infor.lang}}
            </p>
        </div>
        <div class="flex flex-wrap -m-4 text-center" id="ChoiecID">

            <div class="p-4 md:w-1/4 sm:w-1/2 w-full" *ngFor="let choice of Choice; let i = index;"
                [class.active]="IndexChoice"
                [ngClass]="{'indexLeft_1': i == 0, 'indexLeft_2': i == 1, 'indexRight_1': i == 3, 'indexRight_2': i == 2}">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg" style="border: none;">
                    <i [class]="choice.style + ' fa-3x indexChoice'"></i>
                    <h2 class="title-font font-medium text-3xl text-gray-900">
                        {{choice.content | Translation: infor.lang}}</h2>
                    <p class="leading-relaxed">{{choice.name | Translation: infor.lang}}</p>
                </div>
            </div>

        </div>
    </div>
</section>